.container {
  overflow: auto;
  width 500px;
  border: 10px solid red;
}

.box {
  box-sizing: border-box;
  background-color: gold;
  height: 200px;
  margin: 0 50px;
  padding: 0 50px;
  width: 200%;
}
